.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f7f7f7; /* Light background color */
  }
  
  .form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #333333;
  }
  
  .input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .input:focus {
    outline: none;
    border-color: #0070f3; /* Highlight border on focus */
    box-shadow: 0px 0px 5px rgba(0, 112, 243, 0.5);
  }
  
  .button {
    background-color: #0070f3;
    color: #ffffff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  .link {
    text-align: center;
    background-color: #0070f3;
    color: #ffffff;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  